$primary-color: #3498db; // Blue
$secondary-color: #2ecc71; // Green
$accent-color: #f39c12; // Orange
$dark-color: #34495e; // Dark Blue
$light-color: #ecf0f1; // Light Grey

.grade-calculator {
  background-color: $light-color;
  padding: 1.25rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  max-width: 37.5rem;
  margin: 1.25rem auto;
  display: flex;
  flex-direction: column;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  .project {
    width: 100%;
    border-bottom: 0.0625rem solid $dark-color;
    padding-bottom: 1.25rem;
    margin-bottom: 1.25rem;
    &:last-child {
      border-bottom: none;
    }

    .sprint-actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 0.625rem;
    }

    .sprint {
      flex-grow: 1;
      margin-right: 0.625rem;
    }
  }

  .title {
    font-size: 1.25rem;
    font-weight: bold;
  }

  .input {
    width: calc(100% - 1.375rem);
    padding: 0.625rem;
    border: 0.0625rem solid $dark-color;
    border-radius: 0.25rem;
    margin-right: 1.375rem; // Add margin on the right side of inputs
  }

  .button {
    min-width: 7.5rem;
    padding: 0.625rem 0.9375rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    background-color: $primary-color;
    color: white;
    text-align: center;
    margin-top: 1rem;

    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }

  .button-reset {
    background-color: $accent-color;
    color: white;
    font-weight: bold;
    border: none;
    &:hover {
      background-color: darken($accent-color, 10%);
    }
  }

  .delete-sprint {
    margin-left: 0.5rem;
    margin-top: 0;
  }

  .add-sprint,
  .delete-project {
    margin-top: .25rem;
  }

  .delete-project {
    font-weight: bold;
    font-size: .85rem;
    border: .2rem solid rgb(233, 0, 0); 
  }

  .add-sprint {
    background-color: $primary-color;
    margin-right: 0.5rem;
    height: 2.6rem;
    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }

  .delete-project, .delete-sprint {
    background-color: #e74c3c; // Red
    &:hover {
      background-color: darken(#e74c3c, 10%);
    }
  }

  .add-project {
    font-weight: bold;
    font-size: 1rem;
    border: .2rem solid #128adb; // Blue
  }

  .add-project, .current-grade {
    align-self: center;
    margin-top: 0.625rem;
    width: 100%;
    font-size: 1.25rem; // Adjust font size for tablet and desktop
  }

  .current-grade {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5625rem;
    height: 3rem;
    color: white;
    background-color: $secondary-color;
    border-radius: 0.75rem;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: bold;
    border: .25rem solid green;

    @media screen and (max-width: 768px) {
      font-size: 1.25rem; // Decrease font size for tablet
    }

    @media screen and (max-width: 320px) {
      font-size: 1rem; // Decrease font size for mobile
    }
  }

  .target-grade-container {
    margin-top: 1rem;
  }

  .future-weight-container {
    margin-top: 0.75rem;
    margin-bottom: .25rem;
  }

  .sprint-container {
    margin-bottom: .5rem; 

    .input {
      margin-bottom: 0.5rem; 
    }
  }

  .input__target-grade {
    margin-top: .25rem;
  }

  .alert {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    margin-top: .5rem;
    font-weight: bold;
    border: .25rem solid #e74c3c;
    border-radius: .25rem;
    font-size: 1rem; 
    padding: .25rem;

    @media screen and (max-width: 768px) {
      font-size: 1rem; 
    }

    @media screen and (max-width: 320px) {
      font-size: 0.875rem; 
    }
  }

  @media screen and (max-width: 768px) {
    .input {
      width: calc(100% - 1.375rem); 
      margin-right: 1.375rem; 
    }
  }

  @media screen and (max-width: 320px) {
    .input {
      width: calc(100% - 0.75rem); 
      margin-right: 0.75rem; 
    }
  }
}
